<h1>Task Board</h1>

      <div class="maincontent">

    <div class="section group">
        <div class="col span_1_of_4">
        <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
<div class="task-draggable ui-widget-content ui-corner-tr">
<h5 class="ui-widget-header">High Tatras</h5>
</div>
        </div>
        <div class="col span_1_of_4">
        <div id="trash" class="ui-widget-content ui-state-default">
<h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
</div>
        </div>
        <div class="col span_1_of_4">
        <div id="trash2" class="boardcolumn-droppable ui-widget-content ui-state-default">
<h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
</div>
        </div>
        <div class="col span_1_of_4">
        <div id="trash3" class="ui-widget-content ui-state-default">
<h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
</div>
        </div>
      </div>
      </div>



</div>